{% extends "../../layouts/govuk.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Deploy {{githubRepo.owner}}/{{githubRepo.repo}} | PaaS Button
{% endblock %}

{% block content %}
  {{ super() }}

  <h2 class="govuk-heading-l">Deploy <code>{{githubRepo.owner}}/{{githubRepo.repo}}</code> to GOV.UK PaaS</h2>

  <h3 class="govuk-heading-m">Configure your app</h3>

  <form method="post" action="/deploy-your-app">
    {{ govukInput({
      label: {
        text: "App name"
      },
      hint: {
        text: "You'll use the app name when managing your GOV.UK PaaS apps. It should describe what this app is so you can tell it apart from you other apps. It should be lowercase separated-by-dashes."
      },
      id: "app-name",
      name: "app-name",
      errorMessage: { text: "App name must be lowercase separated-by-dashes" } if errors['app-name']
    }) }}

    {{ govukInput({
      label: {
        text: "Route"
      },
      hint: {
        text: "The subdomain to GOV.UK PaaS will host your app on. For example my-test-app would be hosted on https://my-test-app.cloudapps.digital. It should be lowercase separated-by-dashes and can be the same as the app name."
      },
      id: "route",
      name: "route",
      errorMessage: { text: "Route must be lowercase separated-by-dashes" } if errors['route']
    }) }}

    {{ govukButton({ type: "submit", text: "Deploy to GOV.UK PaaS" }) }}
  </form>

{% endblock %}