{% extends "../../layouts/govuk.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Deploy {{githubRepo.owner}}/{{githubRepo.repo}} | PaaS Button
{% endblock %}

{% block content %}
  {{ super() }}

  <h2 class="govuk-heading-l">Deploy <code>{{githubRepo.owner}}/{{githubRepo.repo}}</code> to GOV.UK PaaS</h2>

  <h3 class="govuk-heading-m">Configure your app</h3>

  <form method="post" action="/deploy-your-app">
    {{ govukInput({
      label: {
        text: "App name"
      },
      id: "app-name",
      name: "app-name",
      errorMessage: { text: "App name must be lowercase separated-by-dashes" } if errors['app-name']
    }) }}

    {{ govukInput({
      label: {
        text: "Route"
      },
      hint: {
        text: "Your app will be available on https://${route}.cloudapps.digital"
      },
      id: "route",
      name: "route",
      errorMessage: { text: "Route must be lowercase separated-by-dashes" } if errors['route']
    }) }}

    {{ govukButton({ type: "submit", text: "Deploy to GOV.UK PaaS" }) }}
  </form>

{% endblock %}