{% extends "../../layouts/govuk.njk" %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Deploy {{githubRepo.owner}}/{{githubRepo.repo}} | PaaS Button
{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}
  {{ super() }}

  <h2 class="govuk-heading-l">Deploy <code>{{githubRepo.owner}}/{{githubRepo.repo}}</code> to GOV.UK PaaS</h2>

  <p class="govuk-body">
  Your deployment is in progress...

  <img src="/loading-spinner.gif" class="loading-spinner" alt="Loading spinner...">
  </p>
{% endblock %}
