{% extends "../../layouts/govuk.njk" %}
{%- from "components/tag/macro.njk" import govukTag -%}


{% block pageTitle %}
  PaaS Button
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-xl">PaaS Button</h1>

  <p class="govuk-body">
  Would deploy {{urlToDeploy}} ({{description}})
  </p>

  <p class="govuk-body">
  First you gotta sign in though: <a href="#TODO-WHERE-GO?">Sign in</a>
  </p>

{% endblock %}
