{% extends "../../layouts/govuk.njk" %}
{%- from "components/tag/macro.njk" import govukTag -%}


{% block pageTitle %}
  PaaS Button
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-xl">PaaS Button</h1>

  <p class="govuk-body">
  Would deploy {{urlToDeploy}}
  </p>

{% endblock %}
