{% extends "../../layouts/govuk.njk" %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Deploy {{githubRepo.owner}}/{{githubRepo.repo}} | PaaS Button
{% endblock %}

{% block content %}
  {{ super() }}

  <h1 class="govuk-heading-xl">Deploy <code>{{githubRepo.owner}}/{{githubRepo.repo}}</code> to GOV.UK PaaS</h1>

  <h2 class="govuk-heading-l">Choose a space</h2>

{% endblock %}