{% extends "../../layouts/govuk.njk" %}
{% from "components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Deploy {{githubRepo.owner}}/{{githubRepo.repo}} | PaaS Button
{% endblock %}

{% block content %}
  {{ super() }}

  <h2 class="govuk-heading-l">Deploy <code>{{githubRepo.owner}}/{{githubRepo.repo}}</code> to GOV.UK PaaS</h2>

  <h3 class="govuk-heading-m">Choose a space</h3>

{% endblock %}